version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cashper_app
    restart: always
    ports:
      - "80:8000"
    env_file:
      - ./cashper_backend/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: cashper_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
